.slidecontainer {
    width: 100%; 
  }
  
  
  .slider {
    border-radius: 10px;
    -webkit-appearance: none;  
    appearance: none;
    width: 100%; 
    height: 25px;
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1; 
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px;
    background: #4CAF50; 
    cursor: pointer; 
    border-radius: 50px;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50; 
    cursor: pointer; 
  }

  .box{
    background-color: aqua;
    height: 100px;
    width: 100px;
  }

  #value{
    color: black;
    font-size: 40px;
  }
