.card{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    border:2px black solid;
    justify-content: space-around;
}

.main-cards{
    display: flex;
    flex-direction: horizontal;
    direction: ltr;
    flex-flow: row wrap;
}

.font{
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    display: flex;
    align-content: center;
    flex-direction: column;
}