.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .vertical {
    display: flex;
    flex-direction: column;
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
  }
  
  .flex-space {
    display: flex;
    justify-content: space-between;
  }
  
  .grow-1 {
    flex-grow: 1;
  }
  
  .grow-2 {
    flex-grow: 2;
  }

  .w-100 {
    width: 100%;
  }
  
  .h-100 {
    height: 100%;
  }

  .small-button{
      width: 100%;
      height: 100%;
      background-color: aqua;
      border-color: aqua;
      outline: none;
      color: black;
      font-size: large;   
      cursor: pointer;       
  }